.Ccontainer {
    padding: 0px;
    display: flex;
    height: 829px;
    margin-bottom: 0px auto;
    border-radius: 10px;
   
  /* background-image: url('../Assets/sunset.jpg');
   background-size: cover;*/
  
    box-shadow: rgba(0, 0, 0, 4); /* Adjust the shadow color and opacity */
  filter: brightness
}
    .CreatePost {
    display: flex;
    flex-direction: column;
    border: 1px red solid;
    max-width:1000px ;
    width: 100%;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    text-align:center ;
    color: grey;
    
  }

  .CreatePost h3{
    font-size: 56px;
    font-weight: bolder;
    

  }

  .CreatePost p{
    font-size: 22px;
    margin:5px;
    max-width: 550px;
    letter-spacing: 2px; 
    color: grey;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="checkbox"],
  button {
    margin: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
  }
  
  button {
    cursor: pointer;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .Mit{
    margin-left: 20px;
    padding: 0px;
    display: flex;
    font-size: 20px;
    align-items:center;
    text-align: end;
    
    
  }
  .Mit input,
.Mit label,
.Mit button {
  margin-right: 10px; /* Adjust the right margin for spacing between elements */
}
  
  .UserName{
    margin-bottom: 0px;
    font-size: 20px;
  }
  
  .UserAge {
    margin-bottom: 0px;
    font-size: 20px;
  }
  
  .file-upload-container {
    margin-top: 20px;
  }
  
  .file-upload-container input[type="file"] {
    display: none;
  }
  
  .file-upload-container label {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  .file-upload-container label:hover {
    background-color: #0056b3;
  }
  
  
  
  .Con h4 {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 100;
  }
  
  
  